
#header {
	background-color: yellow;
	height: 120px;
}

#logo {
	background-color: lightgray;
	float: left;
	width: 20%;
	height: 80px;
	padding: 10px;
}

#acc_info {
	background-color: lightgreen;
	float: right;
	width: 30%;
	height: 60px;
	padding: 10px;
}

nav {
	clear: both;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav a {
	float: left;
	margin: 0;
	padding: 10px 0px;
	background-color: #666;
	width: 20%;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	background-color: #333;
	color: white;
	text-decoration: none;
}

#content {
	min-height: 100%;
	height: 100%;
	//border: 1px solid red;
	margin: 5px 5px;	
}

#left_col {
	float: left;
	border: 3px solid black;
	width: 70%;
	padding: 20px;
}

#right_col {
	float: left;
	border: 3px solid gray;
	width: 30%;
	padding: 20px;
}

#footer {
	clear: both;
	background-color: lightblue;
	padding: 20px;
	height: 60px;
	width: 100%;
}

#footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footer li {
	float: left;
}

#footer a {
	padding: 10px;
	text-align: center;
	color: gray;
}



/*

#backtop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	
	background-color: black;
	//border: 3px solid gray;
	color: white;
	text-decoration: none;
	border-style: outset;
	padding: 3px;
}

*/